

<div class="row">
    <div class='col-sm-12'>
        <h1>Dice rolling with the fam</h1>

        {{roll}}
        <a href="hi"><button type="button" class="btn btn-primary" onclick="console.log('hello')">Primary</button></a>
    </div>
</div>
<div class="row">
    
</div>




