<div class="row">
    <div class='col-sm-12'>
        <h1>Dice rolling with the fam</h1>



    </div>
</div>
<div class="row">
    <div class='col-sm-8'>
        <a href="/hi">
            <button type="button" class="btn btn-primary" onclick="console.log('hello')">Primary</button>
        </a>
        <div class="col-sm-4">
            Roll
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="usr">
        </div>
    </div>
    <div class='col-sm-4'>
        <div>

        </div>
        {{roll}}
    </div>

</div>
